<nav class="navbar navbar-fixed-bottom nav-footer">
    <div class="container-fluid">
        <ul class="row">
            <li class="col-sm-2"><img src="{{ staticsUrl }}/images/logo_06.png" alt=""></li>
            <li class="col-sm-8"><span>Copyright &copy; 2013-{{ now | date('Y') }} 北京以萨技术股份有限公司. All Rights Reserved. 推荐使用谷歌浏览器 1366*768分辨率以上 <a href="{{ baseUrl }}/download/谷歌浏览器及插件.zip">下载</a> </span></li>
            <li class="col-sm-2"><img src="{{ staticsUrl }}/images/logo_04.png" alt=""></li>
        </ul>
    </div>
</nav>