<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="myModalLabel">Modal title</span>
            </div>
            <div class="modal-body">
                <div id="message-carousel" class="carousel slide" data-interval="false">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#message-carousel" role="button"
                       data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#message-carousel" role="button"
                       data-slide="next">
                       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ staticsUrl }}/js/svg.min.js"></script>
<script src="{{ staticsUrl }}/js/svg.draw.min.js"></script>